@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.woff2") format("woff2"),
         url("fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "playfair";
    src: url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
         url("fonts/PlayfairDisplay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.3;
}

h1, h2, h3 {
    font-family: "playfair", serif;
    font-weight: 600;
}

p  {
    font-family: "Roboto", serif;
}


.page {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100vw;
    left: 50%;
    right: 50%;
    position: relative;
    transform: translateX(-50%);
    background: linear-gradient(270deg, rgb(61, 179, 218) 80% white 50%);
    box-shadow: 10px 10px 5px rgb(174, 173, 173);
}

.header::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgb(61, 179, 218);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 90%);
    z-index: 0;
}

.header > * {
    position: relative;
    z-index: 1;
    padding: 30px 0; /* adjust as needed */
}

.name-and-pic {
    position: relative;
    width: 100%;
    height: 300px;
}

.name-and-pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: 1;
}

.name-and-pic .image-name {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 40px;
}

.header-about {
    background-color: white;
    text-align: center;
    gap: 30px;
}



.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.work {
    display: flex;
    flex-direction: column;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.project1, .project2, .project3, .project4, .project5, .project6 {
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(174, 173, 173);
}

footer {
    background-color: rgb(61, 179, 218);
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px;
}

.address1, .address2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

/* Tablet styling */
@media only screen and (min-width: 431px) and (max-width: 960px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, ifr);
        gap: 10px;
    }
}

@media only screen and (min-width: 961px) {

}