@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.woff2") format("woff2"),
         url("fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "playfair";
    src: url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
         url("fonts/PlayfairDisplay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: "playfair", serif;
    font-weight: 500;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-and-pic {
    background-color: rgb(61, 179, 218);
    position: relative;
}

.image-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 0;
}

.header-about {
    background-color: white;
    text-align: center;
    gap: 20px;
}

.about-description {
    text-align: center;
}

footer {
    background-color: rgb(61, 179, 218);
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work {
    display: flex;
    flex-direction: column;
}

.project-details {
    display: flex;
    justify-content: space-between;
}

.project1, .project2, .project3, .project4, .project5, .project6 {
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 40px;
    border: 2px solid blue;
}